<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudySensor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<header class="index-title">
  <h1>CloudySensor</h1>
</header>

<form class="city-form button-group" id="weather-form">
    <label for="city-input" class="sr-only">Enter a city</label>
    <input type="text" id="city-input" name="city" placeholder="Enter a City">
    <button type="submit" class="index-btn">Submit</button>
</form>

<div class="city-form button-group">
    <button id="useLocation" class="index-btn" type="button">Use Current Location</button>
</div>

<p id="weather-error" style="color:red;"></p>

<div class="weather-card" id="weather-card" style="display:none;">
    <h1 class="weather-city" id="city-name"></h1>

    <div id="temp-scale-container" class="weather-temp">
        <div id="temp-Buttons">
            <button type="button" onclick="setScale('F')">F</button>
            <button type="button" onclick="setScale('C')">C</button>
        </div>
        <div id="temp-scale-display">
            <p id="temp">
                <span id="temp-number"></span>
                <span class="temp-scale"></span>
            </p>
        </div>
    </div>

    <div class="weather-highlow">
        <span id="high"></span>
        <span id="low"></span>
    </div>

    <div id="feels-like"></div>

    <p class="weather-condition" id="condition"></p>
</div>

<script src="{{ url_for('static', filename='weather.js') }}"></script>
</body>
</html>